.curso-detalhes {
    max-width: 780px;

    .voltar {
        display: inline-block;
        margin-bottom: 0.75rem;
        font-size: 1rem;
        color: #4EA2FF;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .banner {
        position: relative;
        height: 100vh;
        max-height: 250px;
        border-radius: 8px;
        background: url("/caminho/da/imagem.jpg") center/cover no-repeat;
        margin-bottom: 3rem;
    }

    .secao {
        margin-bottom: 3rem;

        .secao-titulo {
            font-weight: 600;
            margin-bottom: 0.75rem;
            font-size: 1.125rem;
        }

        .card {
            background: #fff;
            color: #364356;
            border-radius: 16px;
            padding: 1.5rem 2rem;
            border: 1px solid #ECECEC;

            p {
                font-family: 'Geist';
                color: #555;
                line-height: 1.5;
                font-size: 1rem;
            }
        }
    }

    .tabela-infos {
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        color: #364356;

        container-type: inline-size;

        border-collapse: collapse;

        border: 1px solid #ECECEC;
        border-radius: 16px;
        padding: 0.75rem 1rem;

        tr {
            width: 100%;
        }

        td {
            &:nth-child(even) {
                width: 100%;
            }

            text-wrap: nowrap;
            padding: 0.75rem 1rem;
        }

        tr:not(:last-child) {
            td {
                border-bottom: 1px solid #E9E9E9;
            }
        }

        .label {
            font-weight: 500;
            min-width: 180px;
            font-size: 1rem;
            line-height: 1.75rem;
        }

        .valor {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1rem;
            color: #727272;
            font-weight: 500;


            img {
                max-width: 24px;
                margin-right: 9px;
            }

            span {
                display: flex;
                flex-direction: column;
                gap: 2px;
                margin-right: 30px;

                small {
                    color: #888;
                    font-size: 0.875em;
                }
            }
        }

        @container (max-width: 570px) {
            tr {
                display: flex;
                flex-direction: column;

                &:not(:last-child) {
                    margin-bottom: 0.8rem;
                }

                .label {
                    font-size: 0.875rem;
                    border-bottom: none !important;
                    padding: 0;
                }
            }
        }
    }
}