.acordeao-perguntas {
    display: flex;
    flex-direction: column;

    color: #727272;
    background-color: #FFF;

    border-radius: 16px;
    padding: 0.875rem 1rem;

    .pergunta {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 10px;

        transition: 0.2s;

        &:not(:last-child) {
            border-bottom: 1px solid #E9E9E9;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba($color: #000, $alpha: 0.08);
        }

        &.selecionada {
            h4 img {
                rotate: 180deg;
            }

            > div {
                grid-template-rows: 1fr;
            }
        }

        h4 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            font-size: 0.875rem;
            font-weight: 600;
            line-height: 150%;
        }

        >div {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 0.3s ease-in-out;
            overflow: auto;
            white-space: nowrap;
        }

        p {
            font-size: 0.875rem;
            line-height: 150%;
            font-weight: 400;

            overflow: hidden;
            white-space: normal;
        }
    }
}