.inscricao {
    container-type: inline-size;
    container-name: form-container;

    .conteudo {
        width: 100%;
        display: flex;
        gap: 5rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 3rem;
        line-height: 1.625rem;
    }

    form {
        width: 100%;
        max-width: 660px;
    }

    .tabela-form {
        container-type: inline-size;
        container-name: tabela-form;

        display: flex;
        flex-direction: column;
        background-color: #FFF;
        color: #364356;

        border-collapse: collapse;

        border: 1px solid #ECECEC;
        border-radius: 16px;
        padding: 0.75rem 1rem;

        tr.group-label {
            font-size: 1.3rem;
            font-weight: 500;
            margin: 0.5rem 0;
        }

        tr {
            display: flex;
            flex-direction: row;
        }

        td {
            &.input {
                flex-grow: 1;
            }

            &.required span {
                color: #FF5252;
            }

            text-wrap: nowrap;

            padding: 0.75rem 1rem;
        }

        tr:not(:last-child, .group-label) {
            td {
                border-bottom: 1px solid #E9E9E9;
            }
        }

        .label {
            font-weight: 500;
            min-width: 275px;
            font-size: 1rem;
            line-height: 1.75rem;

            &.obrigatorio::after {
                content: " *";
                color: #FF5252;
            }
        }

        .input {
            display: flex;
            flex-direction: column;

            input {
                width: 100%;
                font-size: 1rem;
                line-height: 1.75rem;
                border-radius: 5px;
                padding: 0 0.625rem;
                background-color: unset;

                &::placeholder {
                    color: #A0A0A0;
                }
            }

            .erro {
                font-size: 0.7rem;
                color: #FF5252;
                margin-bottom: 2px;
            }

            &:has(.erro) {

                input {
                    background-color: #ff52524d;
                }
            }
        }

        tfoot {
            display: flex;
        }

        .submit {
            width: 100%;
            justify-content: flex-end;

            td {
                display: flex;
                justify-content: flex-end;
            }

            input,
            button:not(.retornar) {
                padding: 0.625rem 2.25rem;
                font-size: 0.875rem;
                line-height: 1.25rem;

                font-weight: 600;
                color: #FFF;
                border-radius: 8px;

                background-color: #4EA2FF;

                transition: 0.2s;
                cursor: pointer;

                &:hover {
                    filter: brightness(1.1);
                }
            }

            .retornar {
                margin-right: 1.5rem;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        @container (max-width: 570px) {
            tr {
                display: flex;
                flex-direction: column;

                &:not(:last-child) {
                    margin-bottom: 0.8rem;
                }

                .label {
                    font-size: 0.875rem;
                    border-bottom: none !important;
                    padding: 0;
                }

                .input {
                    padding: 0.625rem 0.825rem;
                }
            }
        }
    }

    .passos-mobile {
        display: none;
    }

    .passos {
        list-style-type: none;
        padding-left: 0;

        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        li {
            font-size: 1rem;
            line-height: 1.25rem;

            color: #858585;
            padding: 0.25rem 1rem;
            position: relative;

            user-select: none;

            transition: 0.2s;

            &:has(.selecionavel):hover {
                cursor: pointer;
                transform: translateX(2px);
            }

            &:last-child {
                &:not(.active) {
                    opacity: 0.7;
                }

                margin-top: 1.5rem;
            }

            &.ativo {
                padding: 0.5rem 1rem;

                &::before {
                    content: "";
                    position: absolute;
                    background-color: #4EA2FF;
                    width: 4px;
                    height: 1.5rem;
                    left: 0;
                }
            }

            &.completo {
                opacity: 0.7;
            }
        }
    }

    @container (max-width: 1000px) {
        .conteudo {
            flex-direction: column-reverse;
            gap: 1rem;
        }

        .passos {
            display: none;
        }

        .passos-mobile {
            display: flex !important;
            gap: 0.4rem;
            max-width: 660px;
            padding-left: 0;
            list-style-type: none;

            >li {
                background-color: rgba($color: #000, $alpha: 0.05);
                padding: 0.4rem;
                flex-grow: 1;

                display: flex;
                justify-content: center;
                border-radius: 5px;

                transition: 0.2s;

                &.passado {
                    background-color: #4EA2FF;
                    color: #FFF;

                    &:not(:last-child):hover {
                        background-color: #4EA2FF;
                        filter: brightness(1.1);
                    }
                }

                &:not(:last-child):hover {
                    cursor: pointer;
                    background-color: rgba($color: #000, $alpha: 0.1);
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .tabela-form {
            max-width: unset;
        }
    }
}