.sem-inscricao {
    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    button {
        display: flex;
        gap: 10px;
        padding: 0.5rem 1rem;
        width: fit-content;

        background-color: #252525;
        color: #FFF;

        border-radius: 4px;
        font-size: 0.875rem;
        font-weight: 700;

        transition: 0.2s;
        cursor: pointer;

        &:hover {
            background-color: #313131;
        }
    }
}

.acompanhamento-page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .acompanhamento {
        max-width: 510px;
        margin-bottom: 4rem;

        .opcoes {
            display: flex;
            gap: 1rem;

            >.card-opcao {
                flex: 1;
                border-radius: 16px;
                padding: 1.125rem 2rem;
                padding-bottom: 3rem;
                color: #fff;

                background-color: #3F3F3F;

                &:first-child {
                    background-color: #7A9EC8;
                }

                .icon-container {
                    padding: 4px 6px;
                    background-color: #4646461A;
                    border-radius: 8px;
                    margin-bottom: 0.625rem;

                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }

                .option-label {
                    font-size: 0.75rem;
                    line-height: 1.75rem;
                    font-weight: 800;

                    text-transform: uppercase;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 1rem;
                }

                h3 {
                    font-size: 1.375rem;
                    line-height: 1.75rem;
                    margin: 0;
                }

                p {
                    font-size: 0.75rem;
                    line-height: 1.75rem;
                    font-weight: 700;
                }
            }
        }
    }

    .proximos-passos {
        max-width: 700px;
    }

    @media screen and (max-width: 768px) {

        .acompanhamento,
        .proximos-passos .tabela-form {
            max-width: unset;
        }

        .proximos-passos li {
            flex-direction: column !important;
        }
    }

    @media screen and (max-width: 500px) {
        .acompanhamento .opcoes {
            flex-direction: column;
        }

        .tabela-form tr {
            flex-direction: column;
            padding-top: 5px;
        }
    }
}