@use '../../styles/tokens' as t;

.shell {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;

    background: t.$c-bg;
    color: t.$c-text;

    main {
        display: flex;
        flex-direction: column;
        min-width: 0;
        width: 100%;
    }

    .pad {
        padding: 44px 48px 72px;
        max-width: 1120px;
        width: 100%;
    }

    @include t.bp-1150 {
        .pad {
            padding: 36px 32px 64px;
        }
    }

    @include t.bp-960 {
        display: block;

        .pad {
            padding: 30px 22px 56px;
        }
    }
}
