@use '../../styles/tokens' as t;

.carregamento {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;

    > .spinner {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 2px solid t.$c-border;
        border-top-color: t.$c-sand;

        animation: spin 0.7s linear infinite;

        @keyframes spin {
            0% {
                rotate: 0deg;
            }

            100% {
                rotate: 360deg;
            }
        }
    }
}
