@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter';
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
}

input {
    outline: none;
    border: none;
    padding: 0;
    min-width: 0;
}

input:-webkit-autofill {
    animation-name: onAutoFillStart;
    animation-fill-mode: both;
}


.aviso-agendamento {
    background-color: #ffdddd;
    padding: 20px 15px;
    border-radius: 5px;
    color: #c3615f;
    font-weight: 500;
    margin-bottom: 50px;
    font-size: 16px;
}

.agendamento-pendente {
    background-color: #ffffff;
    animation: agendamento-pisca 1s infinite alternate;
}

/* keyframes: de branco para cinza claro */
@keyframes agendamento-pisca {
    from { background-color: #F9F9F9; color: #F9F9F9; }
    to   { background-color: #ffdddd; color: #c3615f } /* cinza suave */
}




@keyframes onAutoFillStart {
    from {
    }
    to {
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}